DB_URL=jdbc:postgresql://localhost:5432/pilates_studio_db
DB_USERNAME=pilates_user
DB_PASSWORD=pilates_password

JWT_SECRET=change-me
JWT_EXPIRATION=3600
LIQUIBASE_ENABLED=true


MAIL_FROM=noreply@senindomainin.com
MAIL_FROM_NAME=Pilates Studio